<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
  </head>
  <body>
    <h2>Welcome!</h2>

    <h2>Register</h2>
    <form action="/success" method="post">
      {% csrf_token %}
      Name: <input type="text" name="name"><br>
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
      Password Confirmation: <input type="password" name="password_confirmation"><br>
      Date Hired: <input type="date" name="date_hired"><br><br>
      <input type="submit" name="submit" value="Register">
    </form>

    <h2>Login</h2>
    <form action="/success" method="post">
      {% csrf_token %}
      Username: <input type="text" name="username" required><br>
      Password: <input type="password" name="password" required><br><br>
      <input type="submit" name="submit" value="Login">
    </form>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
</html>
